.container {
    position: relative;
    height: 100vh;
}

.main {
    position: relative;
    background-color: #10172A;
    height: 100%;
    /*flex-shrink: 0;*/
}

.header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #fff;
    /*background-color: #a5e8;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 5;
}
.header span.name {
    text-transform: capitalize;
    margin-right: 1rem;
}
.header span.desc {
    font-size: 0.9rem;
    opacity: 0.6;
}

.messages {
    background-color: #10172A;
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 150px); /*120*/
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 1;
}
.message {
    padding: 20px 20px 0 20px;
    display: flex;
    font-size: 1rem;
    line-height: 1.5715;
    color: rgb(241, 245, 249);
}
.message:last-child {
    padding-bottom: 1rem;
}
.text {
    background-color: rgb(99, 102, 241);
    color: white;
    border-radius: 12px;
    border: 1px solid rgb(51, 65, 85);
    width: 100%;
    padding: 0.75rem 1.25rem;
    line-height: 1.6;

    margin-left: 0;
    margin-right: 20px;
    /*white-space: pre-wrap;*/
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.text p {
    margin-block-start: .4em;
    margin-block-end: .4em;
}
.text img {
    width: 80%;
    max-width: 1024px;
    height: auto;
}
.message:nth-child(odd) .text {
    background-color: rgb(30, 41, 59);
    color: rgb(241, 245, 249);
    margin: 0;
    margin-left: 20px;
}

.chat {
    /*background-color: gray;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 20px);
    z-index: 5;
    display: flex;
    align-items: center;
    padding: 20px;
}
.tool {
    /*background-color: aquamarine;*/
    width: 70px;
}
.input {
    background-color: white;
    border-radius: 8px;
    /*margin: 1rem 1rem 3rem 1rem;*/
    width: calc(100% - 90px);
}

.loader {
    padding: 1rem 0;
}

.logo {
    margin: 20px;
}

.box, .MuiInputBase-root {
    border-radius: 15px;
}